*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    max-width:500px;
    margin:0 auto;
    background-color: gold;
    text-align: center;
    
}

h1{
    font-size: 3rem;
    margin-bottom: 40px;
}
input{
    margin:0 auto;
    display: block;
    height: 28px;
    width: 300px;
}
button{
    height: 28px;
    width:100px;
    margin-bottom: 20px;
}

#resultado_list{
    font-size: 1.7rem;
    
}